.container 
{
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.7rem;
    padding-right: 2.7rem;
}

@media (max-width: 1550px)
{
    .container{
        max-width: 1450px;
    }
}
@media (max-width: 1415px)
{
    .container{
        max-width: 1310px;
    }
}
@media (max-width: 1310px)
{
    .container{
        max-width: 1250px;
    }
}